.Border {
    padding: 12px;
    margin: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(123, 119, 252);
    border-image: initial;
    border-radius: 10px;
    text-align: center;
  }
.Color{
    color: red;
    text-align: start;
}
.FontSize{
   font-size: 30px; 
   text-align: start;
}